<!-- Bottom Nav Bar -->
<nav class="navbar fixed-bottom navbar-dark bg-dark">
  <h6 class ="navbar-text"> 
  You can contact me at ↓ <br>
  <i class="fa-brands fa-linkedin"></i> 
  www.linkedin.com/in/annlita-joshy-aykara/ <br>
  <i class="fa-brands fa-square-github"></i>
  https://github.com/annlita <br>
&copy; 2023 Annlita Joshy Aykara | Ontario Tech University</h6>
</nav>