<div id = "home">
    <h1> Introducing</h1> <!--text with size h1-->
    <marquee><h1> Annlita Joshy Aykara! </h1></marquee>
    
    <img src="Assests\images\bitmoji.jpg" alt = "Girl in a jacket cartoon" style="float:center; width:390px; height:350px;"> <!--Embedding image-->
    </div>
