<div id ="project1"> <!--defining division-->
    <img src="Assests\images\nozomu-robot.jpg" alt = "Robot Design" style="float:center; width:300px; height:250px; border: 10px black;">
    <h3> 1. Robotics Design </h3>
    <p> Designed a robotic solution which can carry the delivery items 
        from the gate to  houses to ensure contact-less deliveries 
        during the pandemic.</p><br><br><br>

    <img src="Assests\images\Networking Project.png" alt = "Network Topology" style="float:center; width:400px; height:250px; border: 10px black;">
    <h3> 2. Network Design </h3>
    <p> Developed a integrated network that is connected through a dedicated WAN connection using BGP 
        and can be managed completely remotely.</p><br><br><br>
</div>