<!-- Code for About Page-->

<div id = "left-column"> <!--Defining left column-->
<img src="Assests\images\image.jpg" alt = "Girl in a suit" style="float:right; width:400px; height:450px; border: 10px black;">
</div>

<div id="right-column">
<!--Defining right column-->
<p>Hello there! I'm Annlita Joshy Aykara, a second year international student at Ontario Tech University. 
    Currently, I'm doing my Bachelors in Networking and IT Security. 
    I'm from India, but I was born and raised in Oman. Since my childhood, I have always had an 
    ardent love for the subject of computers and therefore I aspire to establish my career in 
    the field of Computer/IT Security. In this era, we are more dependent on technology than ever before through online 
    banking, E-commerce, hybrid teaching, etc, especially during these COVID times, 
    technology proved to be a boon for us making it indispensable to us. With the 
    advancement of technology in every walk of life; the privacy and security of our 
    personal data and cyberspace is essential. Growing up, I have noticed online adversaries 
    evolve in terms of severity and attack mechanisms. Pursuing a career in this subject I 
    strive to build a safe and secure internet environment for everyone.</p> <!--Paragraph tag-->
</div> <br> <br> <br><!--Break line-->

<div id = "video"> <!--Embedding video-->
<video  height="500" controls>
    <source src="Assests\images\Introductory Video.mp4" type="video/mp4">
    <source src="Assests\images\Introductory Video.mp4" type="video/ogg">
    Your browser doesn't support the video tag.
</video>
</div>