<!-- Code for Projects Page-->

<div id ="project1"> <!--defining division-->
    <img src="Assests\images\nozomu-robot.jpg" alt = "Robot Design" style="float:center; width:300px; height:250px; border: 10px white;">
    <br><br><h1> 1. Robotics Design </h1><br><br>
    <p> <h3>Designed a robotic solution which can carry the delivery items 
        from the gate to  houses to ensure contact-less deliveries 
        during the pandemic.</h3></p><br><br><br>
    
    <br><br><br>
    <img src="Assests\images\Networking Project.png" alt = "Network Topology" style="float:center; width:400px; height:250px; border: 10px black;">
    <br><br><br><h1> 2. Network Design </h1><br><br>
    <p> <h3>Developed a integrated network that is connected through a dedicated WAN connection using BGP 
        and can be managed completely remotely.</h3></p><br><br><br>
</div>